/*css -Cascading Style Sheets-*/
#white_on_red {
  background-color: red;
  color: white;
}

#going_to_the_right {
  margin-left: 100px;
}

/* div.col { */
/*   width: 200; */        /* width: 33%; of the size screen */
/* } */
